@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
body
{
	font-family: 'Roboto Slab', serif;
}

.resume
{
	    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

.jumbotron .label{
	margin:20px;
	padding:0px 20px 0px 20px;
	font-size:14px;
}

.row
{
 transition: all 0.5s ease;
}

.col-md-4, .col-sm-4, .col-xs-4
{
 transition: all 0.5s ease;
 }